<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>me.delisa.XcodePluginBase</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds an Xcode plugin. Swift template requires Xcode 6.1+.</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.osxBase</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.bundle</string>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.bundleTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>INSTALL_PATH</key>
				<string>/Library/Application Support/Developer/Shared/Xcode/Plug-ins</string>
				<key>WRAPPER_EXTENSION</key>
				<string>xcplugin</string>
				<key>DEPLOYMENT_LOCATION</key>
				<string>YES</string>
				<key>DSTROOT</key>
				<string>$(HOME)</string>
				<key>COMBINE_HIDPI_IMAGES</key>
				<string>YES</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</string>
		<string>Info.plist:xcplugin</string>
		<string>Info.plist:principalClass</string>
		<string>Info.plist:allowedLoaders</string>
		<string>Info.plist:NSHumanReadableCopyright</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</key>
		<dict>
			<key>Group</key>
				<array>
					<string>Supporting Files</string>
				</array>
			<key>Path</key>
			<string>___PACKAGENAME___.xcscheme</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Info.plist:xcplugin</key>
		<string>&lt;key&gt;XCPluginHasUI&lt;/key&gt;
&lt;false/&gt;
&lt;key&gt;XC4Compatible&lt;/key&gt;
&lt;true/&gt;
&lt;key&gt;DVTPlugInCompatibilityUUIDs&lt;/key&gt;
&lt;array&gt;
&lt;string&gt;C4A681B0-4A26-480E-93EC-1218098B9AA0&lt;/string&gt;
&lt;string&gt;F41BD31E-2683-44B8-AE7F-5F09E919790E&lt;/string&gt;
&lt;string&gt;AD68E85B-441B-4301-B564-A45E4919A6AD&lt;/string&gt;
&lt;string&gt;A16FF353-8441-459E-A50C-B071F53F51B7&lt;/string&gt;
&lt;string&gt;9F75337B-21B4-4ADC-B558-F9CADF7073A7&lt;/string&gt;
&lt;string&gt;E969541F-E6F9-4D25-8158-72DC3545A6C6&lt;/string&gt;
&lt;string&gt;8DC44374-2B35-4C57-A6FE-2AD66A36AAD9&lt;/string&gt;
&lt;string&gt;AABB7188-E14E-4433-AD3B-5CD791EAD9A3&lt;/string&gt;
&lt;string&gt;8DC44374-2B35-4C57-A6FE-2AD66A36AAD9&lt;/string&gt;
&lt;string&gt;AABB7188-E14E-4433-AD3B-5CD791EAD9A3&lt;/string&gt;
&lt;string&gt;7FDF5C7A-131F-4ABB-9EDC-8C5F8F0B8A90&lt;/string&gt;
&lt;string&gt;0420B86A-AA43-4792-9ED0-6FE0F2B16A13&lt;/string&gt;
&lt;string&gt;7265231C-39B4-402C-89E1-16167C4CC990&lt;/string&gt;
&lt;string&gt;ACA8656B-FEA8-4B6D-8E4A-93F4C95C362C&lt;/string&gt;
&lt;/array&gt;</string>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>Objective-C</string>
			<key>Description</key>
			<string>The language of your base plugin class</string>
			<key>Identifier</key>
			<string>baseLanguage</string>
			<key>Name</key>
			<string>Language:</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>EMBEDDED_CONTENT_CONTAINS_SWIFT</key>
									<string>YES</string>
									<key>LD_RUNPATH_SEARCH_PATHS</key>
									<string>$(DT_TOOLCHAIN_DIR)/usr/lib/swift/macosx</string>
								</dict>
							</dict>
						</array>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME___.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Info.plist:principalClass</key>
							<string>&lt;key&gt;NSPrincipalClass&lt;/key&gt;
&lt;string&gt;___PACKAGENAME___.___PACKAGENAME___&lt;/string&gt;</string>
							<key>___PACKAGENAME___.swift</key>
							<dict>
								<key>Path</key>
								<string>___PACKAGENAME___.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Objective-C</key>
				<array>
					<dict>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME___.h</string>
							<string>___PACKAGENAME___.m</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>Info.plist:principalClass</key>
							<string>&lt;key&gt;NSPrincipalClass&lt;/key&gt;
&lt;string&gt;___PACKAGENAME___&lt;/string&gt;</string>
							<key>___PACKAGENAME___.h</key>
							<dict>
								<key>Path</key>
								<string>___PACKAGENAME___.h</string>
							</dict>
							<key>___PACKAGENAME___.m</key>
							<dict>
								<key>Path</key>
								<string>___PACKAGENAME___.m</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>loadInXcodebuild</string>
			<key>NotPersisted</key>
			<true/>
			<key>Name</key>
			<string>Load in xcodebuild</string>
			<key>Description</key>
			<string>Whether the plugin should be loaded in the xcodebuild command line tool</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>Info.plist:allowedLoaders</key>
							<string><![CDATA[<key>me.delisa.XcodePluginBase.AllowedLoaders</key>
<array>
	<string>com.apple.dt.Xcode</string>
	<string>com.apple.dt.xcodebuild</string>
</array>]]></string>
						</dict>
					</dict>
				</array>
				<key>false</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>Info.plist:allowedLoaders</key>
							<string><![CDATA[<key>me.delisa.XcodePluginBase.AllowedLoaders</key>
<array>
	<string>com.apple.dt.Xcode</string>
</array>]]></string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
