<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>me.delisa.XcodePluginBase</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds an Xcode plugin. Swift template requires Xcode 6.1+.</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.macBase</string>
		<string>com.apple.dt.unit.prefixable</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.bundle</string>
			<key>SharedSettings</key>
			<dict>
				<key>INSTALL_PATH</key>
				<string>/Library/Application Support/Developer/Shared/Xcode/Plug-ins</string>
				<key>WRAPPER_EXTENSION</key>
				<string>xcplugin</string>
				<key>MACOSX_DEPLOYMENT_TARGET</key>
				<string>___RUNNINGOSXVERSION___</string>
				<key>COMBINE_HIDPI_IMAGES</key>
				<string>YES</string>
				<key>DEPLOYMENT_LOCATION</key>
				<string>YES</string>
				<key>DSTROOT</key>
				<string>$(HOME)</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</string>
		<string>Info.plist:bundle</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</key>
		<dict>
			<key>Group</key>
        <array>
          <string>Supporting Files</string>
        </array>
			<key>Path</key>
			<string>___PACKAGENAME___.xcscheme</string>
		</dict>
		<key>Info.plist:bundle</key>
		<string>&lt;key&gt;CFBundleDevelopmentRegion&lt;/key&gt;
&lt;string&gt;English&lt;/string&gt;
&lt;key&gt;CFBundleExecutable&lt;/key&gt;
&lt;string&gt;$(EXECUTABLE_NAME)&lt;/string&gt;
&lt;key&gt;CFBundleName&lt;/key&gt;
&lt;string&gt;$(PRODUCT_NAME)&lt;/string&gt;
&lt;key&gt;CFBundleIconFile&lt;/key&gt;
&lt;string&gt;&lt;/string&gt;
&lt;key&gt;CFBundleInfoDictionaryVersion&lt;/key&gt;
&lt;string&gt;6.0&lt;/string&gt;
&lt;key&gt;CFBundlePackageType&lt;/key&gt;
&lt;string&gt;BNDL&lt;/string&gt;
&lt;key&gt;CFBundleSignature&lt;/key&gt;
&lt;string&gt;????&lt;/string&gt;
&lt;key&gt;LSMinimumSystemVersion&lt;/key&gt;
&lt;string&gt;$(MACOSX_DEPLOYMENT_TARGET)&lt;/string&gt;
&lt;key&gt;CFBundleVersion&lt;/key&gt;
&lt;string&gt;1&lt;/string&gt;
&lt;key&gt;CFBundleShortVersionString&lt;/key&gt;
&lt;string&gt;1.0&lt;/string&gt;
&lt;key&gt;XCPluginHasUI&lt;/key&gt;
&lt;false/&gt;
&lt;key&gt;XC4Compatible&lt;/key&gt;
&lt;true/&gt;
&lt;key&gt;NSPrincipalClass&lt;/key&gt;
&lt;string&gt;___PACKAGENAME___&lt;/string&gt;
&lt;key&gt;DVTPlugInCompatibilityUUIDs&lt;/key&gt;
&lt;array&gt;
&lt;string&gt;C4A681B0-4A26-480E-93EC-1218098B9AA0&lt;/string&gt;
&lt;string&gt;AD68E85B-441B-4301-B564-A45E4919A6AD&lt;/string&gt;
&lt;string&gt;A16FF353-8441-459E-A50C-B071F53F51B7&lt;/string&gt;
&lt;/array&gt;</string>
	</dict>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>Objective-C</string>
			<key>Description</key>
			<string>The language of your base plugin class</string>
			<key>Identifier</key>
			<string>baseLanguage</string>
			<key>Name</key>
			<string>Language:</string>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>SharedSettings</key>
								<dict>
									<key>EMBEDDED_CONTENT_CONTAINS_SWIFT</key>
									<string>YES</string>
									<key>LD_RUNPATH_SEARCH_PATHS</key>
									<string>$(DT_TOOLCHAIN_DIR)/usr/lib/swift/macosx</string>
								</dict>
							</dict>
						</array>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME___.swift</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME___.swift</key>
							<dict>
								<key>Path</key>
								<string>___PACKAGENAME___.swift</string>
							</dict>
						</dict>
					</dict>
				</array>
				<key>Objective-C</key>
				<array>
					<dict>
						<key>Targets</key>
						<array>
							<dict>
								<key>Frameworks</key>
								<array>
									<string>AppKit</string>
									<string>Foundation</string>
								</array>
								<key>BuildPhases</key>
								<array>
									<dict>
										<key>Class</key>
										<string>Frameworks</string>
									</dict>
								</array>
							</dict>
						</array>
						<key>Nodes</key>
						<array>
							<string>___PACKAGENAME___.h</string>
							<string>___PACKAGENAME___.m</string>
						</array>
						<key>Definitions</key>
						<dict>
							<key>___PACKAGENAME___.h</key>
							<dict>
								<key>Path</key>
								<string>___PACKAGENAME___.h</string>
							</dict>
							<key>___PACKAGENAME___.m</key>
							<dict>
								<key>Path</key>
								<string>___PACKAGENAME___.m</string>
							</dict>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
